<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Attacker's Website</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
  <div class="container p-4">
    <h3 class="mb-3">Monitor Target</h3>
    <form id="monitor" action="submit">
      <div class="mb-3">
        In a background tab (BG),foreground tab (FG), or not present (NP)
        <br />
        BG|FG|NP|FG
      </div>
      <div class="mb-3 w-100">
        <h6 class=" text-dark fw-bolder">Baseline</h6>
        <div id="result" style="height: 24px;">
        </div>
      </div>

      <div class="mb-3">
        <label for="site" class="form-label text-dark fw-bolder">Target Victim Site:</label>
        <select id="site" name="site" class="form-select">
        </select>
      </div>
      <div class="text-end">
        <button id="submit-btn" type="submit" class="btn btn-outline-primary" disabled="true">Start to monitor</button>
      </div>
    </form>
    <div id="monitor-table">
      <h6 class=" text-dark fw-bolder">Monitor Results</h6>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">tg_site</th>
            <th scope="col">rank</th>
            <th scope="col">r_time</th>
            <th scope="col">r_time_eq2</th>
            <th scope="col">case</th> <!-- (1;2) -->
            <th scope="col">label</th> <!-- (bg/fg; np/fg) -->
          </tr>
        </thead>
        <tbody id="monitor-results">
        </tbody>

      </table>
    </div>

    <iframe class="d-none" src="https://sv.cmu.edu/" frameborder="0"></iframe>
    <div class="d-none" id="invisible">
    </div>
  </div>

  <script src="{{ url_for('static', filename='evil.js') }}"></script>
</body>
</html>